{# templates/includes/navbar.html.twig #}
<head>
    <link rel="stylesheet" href="{{ asset('css/navBar.css') }}">
</head>

<nav class="navbar">
    <div class="navbar-brand">
        <a href="{{ path('home') }}">ÉcoPrêt</a>
    </div>
    <div class="navbar-menu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Liste des offres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Abonnements</a>
            </li>
            <li class="nav-item">
                {% if app.user %}
                    <div class="user-container">
                        <a class="nav-link connected" href="{{ path('app_profil') }}">
                            {{ app.user.getEmail() }}
                        </a>
                        <a class="nav-link disconnect" href="{{ path('app_logout') }}">
                            Déconnecter
                        </a>
                    </div>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
            </li>
            {# Ajoute d'autres liens de navigation ici #}
        </ul>
    </div>
</nav>
