{# templates/includes/navbar.html.twig #}
<head>
    <link rel="stylesheet" href="{{ asset('css/navBar.css') }}">
</head>

<nav class="navbar">
    <div class="navbar-brand">
        <a href="{{ path('home') }}">ÉcoPrêt</a>
    </div>
    <div class="navbar-menu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_liste_offre') }}">Liste des offres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_ajouter_une_offre') }}">Ajouter une offre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Abonnements</a>
            </li>
            {% if app.user %}
                <li class="nav-item user-container">
                    <a class="nav-link connected" href="{{ path('app_profil') }}">
                        {{ app.user.getEmail() }}
                    </a>
                    <a class="nav-link disconnect" href="{{ path('app_logout') }}">
                        Se déconnecter
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
            {% endif %}
            {# Ajoute d'autres liens de navigation ici #}
        </ul>
    </div>
</nav>