{% extends 'base.html.twig' %}

{% block title %}ÉcoPrêt - Se connecter{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <header> 
         <a href="{{ path('home') }}"> 
            <img src="{{ asset('images/ecopret.png') }}" alt="homePage" style="width:100%;">
         </a>
    </header>
<form method="post">

    {% if app.user %}
        <div class="mb-3">
            Vous êtes identifié en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail">Adresse mail</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <button class="btn" type="submit">
        Se connecter
    </button>

    <p> Mot de passe oublié ? Réinitialisez-le <a href="{{ path('app_forgot_password_request') }}">ICI</a> !<p>

    <p> Vous n'avez pas de compte ? Inscrivez-vous <a href="{{ path('app_register') }}">ICI</a> !<p>
</form>
{% endblock %}
