{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/register.css') }}">

<h1 class="">Register</h1>

{{ form_start(registrationForm) }}

{{ form_row(registrationForm.email) }}
{% if registrationForm.email.vars.errors|length > 0 %}
    <div class="error">{{ registrationForm.email.vars.errors|first.message }}</div>
{% endif %}

{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
{% if registrationForm.plainPassword.vars.errors|length > 0 %}
    <div class="error">{{ registrationForm.plainPassword.vars.errors|first.message }}</div>
{% endif %}

{{ form_row(registrationForm.nom) }}
{% if registrationForm.nom.vars.errors|length > 0 %}
    <div class="error">{{ registrationForm.nom.vars.errors|first.message }}</div>
{% endif %}

{{ form_row(registrationForm.prenom) }}
{% if registrationForm.prenom.vars.errors|length > 0 %}
    <div class="error">{{ registrationForm.prenom.vars.errors|first.message }}</div>
{% endif %}

{{ form_row(registrationForm.numero_rue) }}
{% if registrationForm.numero_rue.vars.errors|length > 0 %}
    <div class="error">{{ registrationForm.numero_rue.vars.errors|first.message }}</div>
{% endif %}

{{ form_row(registrationForm.nom_de_la_rue) }}
{% if registrationForm.nom_de_la_rue.vars.errors|length > 0 %}
    <div class="error">{{ registrationForm.nom_de_la_rue.vars.errors|first.message }}</div>
{% endif %}

{{ form_row(registrationForm.numero_telephone) }}
{% if registrationForm.numero_telephone.vars.errors|length > 0 %}
    <div class="error">{{ registrationForm.numero_telephone.vars.errors|first.message }}</div>
{% endif %}

{{ form_row(registrationForm.code_postal) }}
{% if registrationForm.code_postal.vars.errors|length > 0 %}
    <div class="error">{{ registrationForm.code_postal.vars.errors|first.message }}</div>
{% endif %}

{{ form_row(registrationForm.porte_monnaie) }}
{% if registrationForm.porte_monnaie.vars.errors|length > 0 %}
    <div class="error">{{ registrationForm.porte_monnaie.vars.errors|first.message }}</div>
{% endif %}

{{ form_row(registrationForm.agreeTerms) }}
{% if registrationForm.agreeTerms.vars.errors|length > 0 %}
    <div class="error">{{ registrationForm.agreeTerms.vars.errors|first.message }}</div>
{% endif %}

<button type="submit" class="btn">Register</button>
{{ form_end(registrationForm) }}

{% endblock %}
