{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/register.css') }}">

<h1 class="">Register</h1>

{{ form_start(registrationForm) }}

    {{ form_label(registrationForm.email) }}
    {{ form_widget(registrationForm.email) }}
    {% if form_errors(registrationForm.email) %}
        <div class="alert alert-danger" style="color: red;">
            {{ form_errors(registrationForm.email) }}
        </div>
    {% endif %}

    {{ form_label(registrationForm.plainPassword) }}
    {{ form_widget(registrationForm.plainPassword) }}
    {% if form_errors(registrationForm.plainPassword) %}
        <div class="alert alert-danger" style="color: red;">
            {{ form_errors(registrationForm.plainPassword) }}
        </div>
    {% endif %}

    {{ form_label(registrationForm.nom) }}
    {{ form_widget(registrationForm.nom) }}
    {% if form_errors(registrationForm.nom) %}
        <div class="alert alert-danger" style="color: red;">
            {{ form_errors(registrationForm.nom) }}
        </div>
    {% endif %}

    {{ form_label(registrationForm.prenom) }}
    {{ form_widget(registrationForm.prenom) }}
    {% if form_errors(registrationForm.prenom) %}
        <div class="alert alert-danger" style="color: red;">
            {{ form_errors(registrationForm.prenom) }}
        </div>
    {% endif %}

    {{ form_label(registrationForm.numero_telephone) }}
    {{ form_widget(registrationForm.numero_telephone) }}
    {% if form_errors(registrationForm.numero_telephone) %}
        <div class="alert alert-danger" style="color: red;">
            {{ form_errors(registrationForm.numero_telephone) }}
        </div>
    {% endif %}

    {{ form_label(registrationForm.numero_rue) }}
    {{ form_widget(registrationForm.numero_rue) }}
    {% if form_errors(registrationForm.numero_rue) %}
        <div class="alert alert-danger" style="color: red;">
            {{ form_errors(registrationForm.numero_rue) }}
        </div>
    {% endif %}

    {{ form_label(registrationForm.nom_de_la_rue) }}
    {{ form_widget(registrationForm.nom_de_la_rue) }}
    {% if form_errors(registrationForm.nom_de_la_rue) %}
        <div class="alert alert-danger" style="color: red;">
            {{ form_errors(registrationForm.nom_de_la_rue) }}
        </div>
    {% endif %}

    {{ form_label(registrationForm.code_postal) }}
    {{ form_widget(registrationForm.code_postal) }}
    {% if form_errors(registrationForm.code_postal) %}
        <div class="alert alert-danger" style="color: red;">
            {{ form_errors(registrationForm.code_postal) }}
        </div>
    {% endif %}

    {{ form_label(registrationForm.agreeTerms) }}
    {{ form_widget(registrationForm.agreeTerms) }}
    {% if form_errors(registrationForm.agreeTerms) %}
        <div class="alert alert-danger" style="color: red;">
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
    {% endif %}

<button type="submit" class="btn">Register</button>
{{ form_end(registrationForm) }}

{% endblock %}