{# templates/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}ÉcoPrêt - Abonnement{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('css/abo.css') }}">
    </head>
    {% include 'includes/nav_bar/navBar.html.twig' %}

    <div class="container mt-4">
        {% if app.user %}
            {% if date %}
                <div>
                    <h2>Vous avez un abonnement qui expirera le {{date}}</h2>
                    <div class="spliter">
                        <a class="button" href="{{ path('home') }}"> Prolonger mon abonnement </a>
                        <a class="button" href="{{ path('app_suppr_abonnement') }}" onclick="return confirm('Êtes\-vous sûr de vouloir supprimer votre abonnement ?')">Annuler mon abonnement</a>
                    </div>
                </div>
            {% else %}
                <div>
                    
                    <h2>Vous n'avez pas encore d'abonnement</h2>

                    <a class="button" href="{{ path('app_ajout_abonnement') }}"> M'abonner </a>
                </div>

            {% endif %}
        {% endif %}
    </div>

    {# Ajoute d'autres sections ou fonctionnalités ici #}

    {% include 'includes/footer/footer.html.twig' %}
{% endblock %}