{% extends 'base.html.twig' %}

{% block title %}ÉcoPrêt - Réinitialiser votre mot de passe{% endblock %}

{% block body %}

    <head>
        <link rel="stylesheet" href="{{ asset('css/resetpass.css') }}">
    </head>
    {% include 'includes/nav_bar/navBar.html.twig' %}

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container">
    <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(requestForm) }}

            {{ form_label(requestForm.email) }}
            {{ form_widget(requestForm.email) }}
            {% if form_errors(requestForm.email) %}
                <div class="alert alert-danger">
                    {{ form_errors(requestForm.email) }}
                </div>
            {% endif %}
            <div>
                <small>
                    Veuillez entrer votre adresse mail afin que nous puissions vous envoyer un lien pour réinitialiser votre mot de passe.
                </small>
            </div>

            <button type="submit" class="btn btn-primary">Réinitialiser</button>
        {{ form_end(requestForm) }}
    </div>
    {% include 'includes/footer/footer.html.twig' %}
{% endblock %}

