{% extends 'base.html.twig' %}

{% block title %}ÉcoPrêt - Mes informations{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
    </head>
    {% include 'includes/nav_bar/navBar.html.twig' %}

    <h1>Profil</h1>
    <div class="container-form">
        {{ form_errors(profilForm) }}

        {{ form_start(profilForm) }}
            <label for="">Adresse mail : {{ user.email }}</label>

            {{ form_row(profilForm.plainPassword, {label: 'Mot de passe'}) }}
            {% if profilForm.plainPassword.vars.errors|length > 0 %}
                <div class="error">{{ profilForm.plainPassword.vars.errors|first.message }}</div>
            {% endif %}

            {{ form_row(profilForm.nom, {label: 'Nom'}) }}
            {% if profilForm.nom.vars.errors|length > 0 %}
                <div class="error">{{ profilForm.nom.vars.errors|first.message }}</div>
            {% endif %}

            {{ form_row(profilForm.prenom, {label: 'Prénom'}) }}
            {% if profilForm.prenom.vars.errors|length > 0 %}
                <div class="error">{{ profilForm.prenom.vars.errors|first.message }}</div>
            {% endif %}

            {{ form_row(profilForm.numero_telephone, {label: 'N° de téléphone'}) }}
            {% if profilForm.numero_telephone.vars.errors|length > 0 %}
                <div class="error">{{ profilForm.numero_telephone.vars.errors|first.message }}</div>
            {% endif %}

            {{ form_row(profilForm.numero_rue, {label: 'N° de rue'}) }}
            {% if profilForm.numero_rue.vars.errors|length > 0 %}
                <div class="error">{{ profilForm.numero_rue.vars.errors|first.message }}</div>
            {% endif %}

            {{ form_row(profilForm.nom_de_la_rue, {label: 'Nom de la rue'}) }}
            {% if profilForm.nom_de_la_rue.vars.errors|length > 0 %}
                <div class="error">{{ profilForm.nom_de_la_rue.vars.errors|first.message }}</div>
            {% endif %}

            {{ form_row(profilForm.code_postal, {label: 'Code postal'}) }}
            {% if profilForm.code_postal.vars.errors|length > 0 %}
                <div class="error">{{ profilForm.code_postal.vars.errors|first.message }}</div>
            {% endif %}

            <div class="button-container">
                <button type="submit" class="btn">Changer mes informations</button>
                <button type="reset" class="btn">Réinitialiser mes modifications</button>
                <a class="nav-link delete" href="{{ path('supprimer_compte', {'id': user.id}) }}">
                    <button type="button" class="btn">Supprimer mon compte</button>
                </a>

            </div>

        {{ form_end(profilForm) }}

    </div>
            {% if user.isEnSommeil%}
            <div class="sommeil-v">

            <form action="{{ path('modifierDonnees') }}" method="post">
                <input type="hidden" name="nouvelle_valeur" value="false"> 
                <button class="btn" type="submit">Enlever le mode sommeil</button>
            </form>
            </div>
            {% else %}
            <div class="sommeil-r">
            <form action="{{ path('modifierDonnees') }}" method="post">
                <input type="hidden" name="nouvelle_valeur" value="true">
                <button class="btn" type="submit">Mettre le mode sommeil</button>
            </form>
            </div>

            {% endif %}
    
    {% include 'includes/footer/footer.html.twig' %}
{% endblock %}