{% extends 'base.html.twig' %}

{% block title %}ÉcoPrêt - Liste des offres{% endblock %}


{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('css/listeOffre.css') }}">
    </head>
    {% include 'includes/nav_bar/navBar.html.twig' %}

    <div class="main">
        <div class="contenu">
            <div class="offres">
                {% for offre in offres %}
                    <a href={{ path('app_modif_offre') }}?id={{ offre.getId }}>
                        <div class="textbox">
                            <h5>{{ offre.getTitreOffre }}</h5>
                            <h5>{{ offre.getPrix }} florains</h5>
                        </div>
                    </a>
                {% else %}
                    <h1>
                        Aucune offres
                    </h1>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'includes/footer/footer.html.twig' %}
{% endblock %}